* {
    margin: 0;
    padding: 0;
    
    
  
}

html {
    font-size: 82.5%;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("dice photo.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    width: 100rem;
    height: 60rem;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.name {
    position: relative;
    font-size: 4rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    font-weight: 300;
    color: white;
    margin-bottom: auto;
}


.player--active .name {
    font-weight: 700;
}

.player--active .score {
    font-weight: 400;
}

.player--active .current {
    opacity: 1;
}

.current {
    
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border:2px solid #7d4e9d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    background-color: #5f347b;
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
}



.btn--new {
    top: 4rem;
}

.btn--roll {
    top: 39.3rem;
}

.btn--hold {
    top: 46.1rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
    background-color: #ffffff3a;
}

.player--winner .name {
    font-weight: 700;
    color: #a85fd9;
}

.hidden {
    display: none;
}